In [2]:
import evadb
from evadb.interfaces.relational.db import connect
conn = connect()
cursor = conn.cursor()

In [8]:
cursor.drop_table("MyCSV").execute()
create_table_query = f"""
    CREATE TABLE IF NOT EXISTS MyCSV(
        venue_name TEXT(30),
        venue_type TEXT(30),
        venue_address TEXT(30),
        website TEXT(30),
        menu_url TEXT(30),
        menu_text TEXT(30),
        phone TEXT(30),
        email TEXT(30),
        alcohol TEXT(30),
        lunch TEXT(30)
    );
    
    """
cursor.query(create_table_query).df()

Empty DataFrame
Columns: []
Index: []

In [9]:
cursor.load(file_regex="/Users/afaanansari/Desktop/gtech/CSV-AI-EVADB/fishfry-locations.csv", format="CSV", table_name="MyCSV").execute()

In [11]:
cursor.table("MyCSV").df().head()

,mycsv._row_id,mycsv.venue_name,mycsv.venue_type,mycsv.venue_address,mycsv.website,mycsv.menu_url,mycsv.menu_text,mycsv.phone,mycsv.email,mycsv.alcohol,mycsv.lunch
0,1,McGinnis Sisters,Market,"4311 Northern Pike, Monroeville, PA",http://www.mcginnis-sisters.com/,None,None,412-858-7000,None,None,1
1,2,Holy Cross (Reilly Center),Church,"7100 West Ridge Road, Fairview PA",http://www.mcginnis-sisters.com/,None,"Fried pollack, fried shrimp, or combo. Adult $...",814-474-2605,None,None,1
2,3,Hartford Heights Volunteer Fire Department,Fire Department,"14335 U.S. 30, Irwin, PA 15642",https://www.facebook.com/HHVFD/,https://www.facebook.com/photo.php?fbid=188561...,"Fried pollack, fried shrimp, or combo. Adult $...",412-824-9972,None,1,0
3,4,Beaver Valley Yacht Club,Community Organization,"219 Front Street, New Brighton, Pennsylvania 1...",https://www.beavervalleyyachtclub.org/,https://www.facebook.com/photo.php?fbid=188561...,Menu & Cost:\nEat in or take out. Adult Fish D...,(724) 847-4663,None,1,1
4,5,"Our Lady of Joy, Holiday Park",Church,"2000 O'Block Road Holiday Park, PA",http://www.ourladyofjoy.org,https://www.facebook.com/photo.php?fbid=188561...,"Menu is a la carte, and features fried or bake...",412-795-3388,None,1,1